RGB buttons - sample flows.json
[{"id":"e47d943d.25a118","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"66f23235.6e78cc","type":"mqtt in","z":"e47d943d.25a118","name":"","topic":"House/SuperIO/Box1/60/Button","qos":"0","datatype":"auto","broker":"42e89404.f27c8c","x":210,"y":180,"wires":[["da4fa066.4b1fe"]]},{"id":"be970eb0.8ca8e","type":"mqtt in","z":"e47d943d.25a118","name":"","topic":"House/SuperIO/Box1/61/Button","qos":"0","datatype":"auto","broker":"42e89404.f27c8c","x":210,"y":260,"wires":[["1f6492d0.cdd25d"]]},{"id":"de51e1c1.2dee8","type":"mqtt in","z":"e47d943d.25a118","name":"","topic":"House/SuperIO/Box1/62/Button","qos":"0","datatype":"auto","broker":"42e89404.f27c8c","x":210,"y":380,"wires":[["8c5d36e8.c081e8"]]},{"id":"bdf895ba.be9c98","type":"mqtt in","z":"e47d943d.25a118","name":"","topic":"House/SuperIO/Box1/63/Button","qos":"0","datatype":"auto","broker":"42e89404.f27c8c","x":210,"y":620,"wires":[["5f73cd6d.e47cd4"]]},{"id":"da4fa066.4b1fe","type":"switch","z":"e47d943d.25a118","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"ON","vt":"str"},{"t":"eq","v":"OFF","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":440,"y":180,"wires":[["cbacbebf.1a28a"],["cc91c9a2.b789a8"]]},{"id":"aaca22fa.46826","type":"mqtt out","z":"e47d943d.25a118","name":"","topic":"House/SuperIO/Box1/60/Color","qos":"0","retain":"false","broker":"42e89404.f27c8c","x":870,"y":180,"wires":[]},{"id":"cbacbebf.1a28a","type":"change","z":"e47d943d.25a118","name":"Red","rules":[{"t":"set","p":"payload","pt":"msg","to":"2000,0,0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":180,"wires":[["aaca22fa.46826"]]},{"id":"cc91c9a2.b789a8","type":"change","z":"e47d943d.25a118","name":"Blue","rules":[{"t":"set","p":"payload","pt":"msg","to":"0,0,4000","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":220,"wires":[["aaca22fa.46826"]]},{"id":"b94bb60.9b42548","type":"mqtt out","z":"e47d943d.25a118","name":"","topic":"House/SuperIO/Box1/61/Color","qos":"0","retain":"false","broker":"42e89404.f27c8c","x":1170,"y":220,"wires":[]},{"id":"1f6492d0.cdd25d","type":"function","z":"e47d943d.25a118","name":"Toggle","func":"// initialise the counter to 0 if it doesn't exist already\nvar count = context.get('count')||0;\ncount += 1;\n// store the value back\ncontext.set('count',count);\n// make it part of the outgoing msg object\nmsg.count = count;\n//define function isOdd 1 === isOdd\nfunction isOdd(num) { return num % 2;}\n/*if count is odd send 1,\nelse send 0 */\nif(isOdd((count+1)/2) ===1){\nmsg.payload = \"ON\";\nreturn msg;\n} else if (isOdd((count+1)/2) ===0){\nmsg.payload = \"OFF\";\nreturn msg;\n}","outputs":1,"noerr":0,"x":410,"y":260,"wires":[["8ca3573f.951a88"]]},{"id":"8ca3573f.951a88","type":"switch","z":"e47d943d.25a118","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"ON","vt":"str"},{"t":"eq","v":"OFF","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":530,"y":260,"wires":[["25f58a9a.ae4996","cf57cbda.8d7ee8"],["2150bac6.26bf16","8b509c.d193af68"]]},{"id":"cf57cbda.8d7ee8","type":"change","z":"e47d943d.25a118","name":"Red","rules":[{"t":"set","p":"payload","pt":"msg","to":"2000,0,0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":970,"y":220,"wires":[["b94bb60.9b42548"]]},{"id":"2150bac6.26bf16","type":"change","z":"e47d943d.25a118","name":"Blue","rules":[{"t":"set","p":"payload","pt":"msg","to":"0,0,4000","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":970,"y":260,"wires":[["b94bb60.9b42548"]]},{"id":"2b8a9dbd.39ea72","type":"function","z":"e47d943d.25a118","name":"Toggle4","func":"// initialise the counter to 0 if it doesn't exist already\nvar count = context.get('count')||0;\ncount += 1;\n// store the value back\ncontext.set('count',count);\n// make it part of the outgoing msg object\nmsg.count = count;\n\nif((count) ===1){\nmsg.payload = \"1\";\nreturn msg;\n} else if((count) ===2){\nmsg.payload = \"2\";\nreturn msg;\n} else if((count) ===3){\nmsg.payload = \"3\";\nreturn msg;\n} else if((count) ===4){\nmsg.payload = \"4\";\ncontext.set('count',0);\nreturn msg;\n}","outputs":1,"noerr":0,"x":540,"y":380,"wires":[["6f3de48f.ae2d9c"]]},{"id":"8c5d36e8.c081e8","type":"function","z":"e47d943d.25a118","name":"Toggle","func":"// initialise the counter to 0 if it doesn't exist already\nvar count = context.get('count')||0;\ncount += 1;\n// store the value back\ncontext.set('count',count);\n// make it part of the outgoing msg object\nmsg.count = count;\n//define function isOdd 1 === isOdd\nfunction isOdd(num) { return num % 2;}\n/*if count is odd send 1,\nelse send 0 */\nif(isOdd((count+1)/2) ===1){\nmsg.payload = \"ON\";\nreturn msg;\n} else if (isOdd((count+1)/2) ===0){\nmsg.payload = \"OFF\";\nreturn msg;\n}","outputs":1,"noerr":0,"x":410,"y":380,"wires":[["2b8a9dbd.39ea72"]]},{"id":"fd0821ac.4bb5b","type":"change","z":"e47d943d.25a118","name":"Red","rules":[{"t":"set","p":"payload","pt":"msg","to":"2000,0,0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":320,"wires":[["2435eee3.b57fd2"]]},{"id":"6f3de48f.ae2d9c","type":"switch","z":"e47d943d.25a118","name":"Breakout4","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"},{"t":"eq","v":"3","vt":"str"},{"t":"eq","v":"4","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":690,"y":380,"wires":[["fd0821ac.4bb5b"],["be170bb6.66e7e8"],["23bf1294.6ffe4e"],["f7e21aa9.438518"]]},{"id":"be170bb6.66e7e8","type":"change","z":"e47d943d.25a118","name":"Green","rules":[{"t":"set","p":"payload","pt":"msg","to":"0,4000,0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":360,"wires":[["2435eee3.b57fd2"]]},{"id":"23bf1294.6ffe4e","type":"change","z":"e47d943d.25a118","name":"Blue","rules":[{"t":"set","p":"payload","pt":"msg","to":"0,0,4000","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":400,"wires":[["2435eee3.b57fd2"]]},{"id":"f7e21aa9.438518","type":"change","z":"e47d943d.25a118","name":"White","rules":[{"t":"set","p":"payload","pt":"msg","to":"2000,4000,4000","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":440,"wires":[["2435eee3.b57fd2"]]},{"id":"2435eee3.b57fd2","type":"mqtt out","z":"e47d943d.25a118","name":"","topic":"House/SuperIO/Box1/62/Color","qos":"0","retain":"false","broker":"42e89404.f27c8c","x":1050,"y":380,"wires":[]},{"id":"cad0ff18.366f","type":"function","z":"e47d943d.25a118","name":"Toggle8","func":"// initialise the counter to 0 if it doesn't exist already\nvar count = context.get('count')||0;\ncount += 1;\n// store the value back\ncontext.set('count',count);\n// make it part of the outgoing msg object\nmsg.count = count;\n\nif((count) ===1){\nmsg.payload = \"1\";\nreturn msg;\n} else if((count) ===2){\nmsg.payload = \"2\";\nreturn msg;\n} else if((count) ===3){\nmsg.payload = \"3\";\nreturn msg;\n} else if((count) ===4){\nmsg.payload = \"4\";\nreturn msg;\n} else if((count) ===5){\nmsg.payload = \"5\";\nreturn msg;\n} else if((count) ===6){\nmsg.payload = \"6\";\nreturn msg;\n} else if((count) ===7){\nmsg.payload = \"7\";\nreturn msg;\n} else if((count) ===8){\nmsg.payload = \"8\";\ncontext.set('count',0);\nreturn msg;\n}","outputs":1,"noerr":0,"x":540,"y":620,"wires":[["a67a5958.becea8"]]},{"id":"5f73cd6d.e47cd4","type":"function","z":"e47d943d.25a118","name":"Toggle","func":"// initialise the counter to 0 if it doesn't exist already\nvar count = context.get('count')||0;\ncount += 1;\n// store the value back\ncontext.set('count',count);\n// make it part of the outgoing msg object\nmsg.count = count;\n//define function isOdd 1 === isOdd\nfunction isOdd(num) { return num % 2;}\n/*if count is odd send 1,\nelse send 0 */\nif(isOdd((count+1)/2) ===1){\nmsg.payload = \"ON\";\nreturn msg;\n} else if (isOdd((count+1)/2) ===0){\nmsg.payload = \"OFF\";\nreturn msg;\n}","outputs":1,"noerr":0,"x":410,"y":620,"wires":[["cad0ff18.366f"]]},{"id":"553b3581.db5f2c","type":"change","z":"e47d943d.25a118","name":"Red","rules":[{"t":"set","p":"payload","pt":"msg","to":"2000,0,0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":850,"y":480,"wires":[["9c5e31d5.bcf34"]]},{"id":"a67a5958.becea8","type":"switch","z":"e47d943d.25a118","name":"Breakout8","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"},{"t":"eq","v":"3","vt":"str"},{"t":"eq","v":"4","vt":"str"},{"t":"eq","v":"5","vt":"str"},{"t":"eq","v":"6","vt":"str"},{"t":"eq","v":"7","vt":"str"},{"t":"eq","v":"8","vt":"str"}],"checkall":"true","repair":false,"outputs":8,"x":690,"y":620,"wires":[["553b3581.db5f2c"],["1d4063dc.e5acac"],["cdccbeee.1fe72"],["bb3e1cd7.aa15"],["64c4eaca.d2cb94"],["9ea22276.8dea1"],["715fa05d.a983b"],["e44c0417.7f97a8"]]},{"id":"1d4063dc.e5acac","type":"change","z":"e47d943d.25a118","name":"Green","rules":[{"t":"set","p":"payload","pt":"msg","to":"0,4000,0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":850,"y":520,"wires":[["9c5e31d5.bcf34"]]},{"id":"cdccbeee.1fe72","type":"change","z":"e47d943d.25a118","name":"Blue","rules":[{"t":"set","p":"payload","pt":"msg","to":"0,0,4000","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":850,"y":560,"wires":[["9c5e31d5.bcf34"]]},{"id":"bb3e1cd7.aa15","type":"change","z":"e47d943d.25a118","name":"White","rules":[{"t":"set","p":"payload","pt":"msg","to":"2000,4000,4000","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":850,"y":600,"wires":[["9c5e31d5.bcf34"]]},{"id":"9c5e31d5.bcf34","type":"mqtt out","z":"e47d943d.25a118","name":"","topic":"House/SuperIO/Box1/63/Color","qos":"0","retain":"false","broker":"42e89404.f27c8c","x":1110,"y":620,"wires":[]},{"id":"64c4eaca.d2cb94","type":"change","z":"e47d943d.25a118","name":"Purple","rules":[{"t":"set","p":"payload","pt":"msg","to":"1500,0,4000","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":850,"y":640,"wires":[["9c5e31d5.bcf34"]]},{"id":"9ea22276.8dea1","type":"change","z":"e47d943d.25a118","name":"Yellow","rules":[{"t":"set","p":"payload","pt":"msg","to":"2000,3000,0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":850,"y":680,"wires":[["9c5e31d5.bcf34"]]},{"id":"715fa05d.a983b","type":"change","z":"e47d943d.25a118","name":"Cyan","rules":[{"t":"set","p":"payload","pt":"msg","to":"0,4000,3000","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":850,"y":720,"wires":[["9c5e31d5.bcf34"]]},{"id":"e44c0417.7f97a8","type":"change","z":"e47d943d.25a118","name":"OFF","rules":[{"t":"set","p":"payload","pt":"msg","to":"0,0,0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":850,"y":760,"wires":[["9c5e31d5.bcf34"]]},{"id":"25f58a9a.ae4996","type":"http request","z":"e47d943d.25a118","name":"LivingRoom ON","method":"POST","ret":"txt","paytoqs":false,"url":"http://192.168.1.241/?button9on","tls":"","proxy":"","authType":"basic","x":780,"y":240,"wires":[[]]},{"id":"8b509c.d193af68","type":"http request","z":"e47d943d.25a118","name":"LivingRoom OFF","method":"POST","ret":"txt","paytoqs":false,"url":"http://192.168.1.241/?button9off","tls":"","proxy":"","authType":"basic","x":790,"y":280,"wires":[[]]},{"id":"42e89404.f27c8c","type":"mqtt-broker","z":"","name":"Mosquitto1","broker":"192.168.5.150","port":"1883","clientid":"nodered","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]